.st-Table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    box-sizing: border-box;
    
}
.st-TableRow {
    display: table-row;
}
.st-TableHeadRow {
    display: table-row;
    background-color: #6e6d6d;
    color: white;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
}
.st-TableCell {
    display: table-cell;
    vertical-align: middle;
    padding: 3px;
    height: 30px;
    
    box-sizing: border-box;
    border: 1px solid #999999;
}

.st-view {
    height: calc(100% - 30px);
    position: relative;
    overflow-y: auto;
}

.st-Spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
